:root {
	--background: #f9f5f1;
	--foreground: #000f0f;
	--surface: #ffffff;
	--surface-foreground: #000f0f;
	--border: #e1d8xb;
	--accent: #464646;
	--accent-foreground: #fafafa;
	--gray-accent: #797067
	--ring: #0f0f0f;
	--accent-surface: #e0ddd9;
	--radius: 0.5rem;
}

.dark {
	--background: #000f0f;
	--foreground: #fafafa;
	--surface: #000f0f;
	--surface-foreground: #fafafa;
	--border: #262626;
	--accent: #262626;
	--accent-foreground: #fafafa;
}

* {
	border: var(--border)
}
body {
	background-color: var(--background);
	color: var(--foreground);
}