# Server
BROWSER=chrome

# Client
# @see src/vite-env.d.ts
VITE_DEFAULT_RELAYS=wss://nos.lol/,wss://relay.damus.io/ # comma-separated
VITE_METADATA_RELAYS=wss://purplepag.es/,wss://user.kindpag.es/,wss://directory.yabu.me/ # comma-separated
VITE_SEARCH_RELAYS=wss://nostr.wine/,wss://search.nos.today/ # comma-separated
